<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Free Code Camp - Request Header Parser Microservice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body class=" hasGoogleVoiceExt">
    <div class="container">
      <h1 class="header">
          Free Code Camp - Request Header Parser Microservice
      </h1>
      <blockquote>
          User stories:
          <ul>1) I can get the IP address, language and operating system for my browser.</ul>
      </blockquote>
      <h3>Example usage:</h3>
      <code>https://resolutedreamer-fcc-requestheaderparsermicroservice.gomix.me/api/whoami/</code><br>
      <h3>Example output:</h3>
      <code>
        {"ipaddress":"72.198.91.157","language":"en-US","software":"Windows NT 10.0; Win64; x64"}
      </code>
    </div>
  </body>
</html>